:root, [html-theme="light"] {
  --humboldt-yellow: #F0C640;
  --humboldt-green: #2C4E48;
  --sca-bg: white;
  --sca-bg-secondary: gainsboro;
  --sca-border-color: black;
  --sca-border-style: solid;
  --sca-border-width: 1px;
  --sca-color: black;
}

[html-theme="dark"] {
  --sca-bg: black;
  --sca-bg-secondary: slategray;
  --sca-border-color: white;
  --sca-color: white;
}

body {
  background-color: var(--sca-bg);
  color: var(--sca-color);
}

footer {
  background-color: var(--sca-bg-secondary);
  text-align: center;
}

header {
  text-align: center;
}

header a {
  color: var(--sca-color);
  font-size: 2.25rem;
  text-decoration: none;
}

.bg1 {
  background-color: var(--sca-bg);
}

.bg2 {
  background-color: var(--sca-bg-secondary);
}

.border-bottom {
  border-bottom: var(--sca-border-width) var(--sca-border-style) var(--sca-border-color);
}

.container {
  max-width: 1200px;
  margin: auto;
  margin-top: 5px;
}

.course-heading h1 {
  display: inline-block;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 0px;
}

.course-heading h1::before {
  content: "";
  display: block;
  background: var(--sca-bg-secondary);
  height: 5px;
  width: 100%;
}

.course-heading h1::after {
  content: "";
  display: block;
  background: var(--sca-bg-secondary);
  height: 5px;
  width: 100%;
}

.course-heading p {
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.cph-green {
  color: var(--humboldt-green);
}

.cph-yellow {
  color: var(--humboldt-yellow);
}

.nav-list {
  display: flex;
  text-align: center;
}

.nav-list li {
  display: block;
  list-style: none;
  width: 100%;
}

.nav-list li a {
  color: var(--sca-color);
  text-decoration: none;
  text-transform: uppercase;
}

.nav-list li a:hover {
  color: firebrick;
}

.rounded {
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

#theme-control {
  display: inline;
  float: right;
}